@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local("IBM Plex Mono Light"),
    local("IBMPlexMono-Light"),
    url("/fonts/IBMPlexMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local("IBM Plex Mono Light Italic"),
    local("IBMPlexMono-LightItalic"),
    url("/fonts/IBMPlexMono-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local("IBM Plex Mono"),
    local("IBMPlexMono"),
    url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local("IBM Plex Mono Medium"),
    local("IBMPlexMono-Medium"),
    url("/fonts/IBMPlexMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local("IBM Plex Mono Medium Italic"),
    local("IBMPlexMono-MediumItalic"),
    url("/fonts/IBMPlexMono-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local("IBM Plex Mono SemiBold"),
    local("IBMPlexMono-SemiBold"),
    url("/fonts/IBMPlexMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local("IBM Plex Mono SemiBold Italic"),
    local("IBMPlexMono-SemiBoldItalic"),
    url("/fonts/IBMPlexMono-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local("IBM Plex Mono Bold"),
    local("IBMPlexMono-Bold"),
    url("/fonts/IBMPlexMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local("IBM Plex Mono Bold Italic"),
    local("IBMPlexMono-BoldItalic"),
    url("/fonts/IBMPlexMono-BoldItalic.woff2") format("woff2");
}

/* Geist Mono */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMonoVF.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
